<div class="container container-button">
  <%= form_tag paintings_path, class: "search-form-control", method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Trouve ton tableau"
    %>

    <i class="fas fa-paint-brush  icon"></i>

    <%= submit_tag "Search", class: "btn " %>
  <% end %>

  <div><%= link_to "Ajouter un tableau", new_painting_path, class:"btn btn-painting-new" %>
  </div>
 </div>

 <div class="container container-cards-index">

     <% @paintings.each do |painting| %>

       <div class="card-category-index" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path painting.photo.key %>')">
         <div class="card-index-text">
           <%= link_to painting_path(painting), data: { turbolinks: false } do %>
           <h4> <%= painting.name %> </h4>
           <p> <%= painting.description %> </p>
         <% end %>
         </div>
       </div>

     <% end %>
 </div>

