<div class="container container-button">
  <div> <%= link_to "Ajouter un tableau", new_painting_path, class:"btn btn-painting-new" %>
  </div>
 </div>

 <div class="container container-cards-index">

     <% @paintings.each do |painting| %>

       <div class="card-category-index" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path painting.photo.key %>')">
         <div class="card-index-text">
           <%= link_to painting_path(painting) do %>
           <h4> <%= painting.name %> </h4>
           <p> <%= painting.description %> </p>
         <% end %>
         </div>
       </div>

     <% end %>
 </div>
