<div class="container-show">

    <div class="card-show-painting">
        <h2 class = "text-center"><%= @painting.name.capitalize %></h2>
        <div><%= cl_image_tag @painting.photo.key, height: 300, width: 400, crop: :fill, class: "text-center img" %></div>
        <p><%= @painting.description %></p> 
    </div>  

    <div class="card-show card-show-label">
        <p><i class="fas fa-map-marker-alt"></i> <%= @painting.address %></p>
        <p><i class="far fa-id-badge"></i> <%= @painting.user.first_name %>   -   <i class="far fa-credit-card"></i> <%= @painting.price_per_day %>€/jour</p>
    </div>

</div>
