  <div class="container-title-bookings">
    <h3>Mes réservations:</h3>
    <h5>Les tableaux que j'ai loué :</h5>
  </div>

<div class="container">
  <div class="card-body-bookings">
  <% @bookings.each do |booking| %>
  <%= link_to painting_path(booking.painting) do %>
    <div class="card-product">
    <%= cl_image_tag booking.painting.photo.key, width: 300, height: 200, crop: :fill, class:"card-img" %>
      <div class="card-product-infos">
        <h2> <%= booking.painting.name %> </h2>
        <p> Date de début: <%= booking.starts_on %> </p>
        <p> Date de fin: <%= booking.ends_on %> </p>
        <p> Status: <%= booking.state %> </p>
        <p> Prix total: <%= booking.total_price %>€</p>
      </div>
    </div>
  <% end %>
  <% end %>
  </div>
</div>
